@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>PC Building Simulator</h1>
    <p class="lead">Setup Building Helper</p>
    <p><a href="http://www.macoratti.net" class="btn btn-primary btn-lg">Build Now!</a></p>
</div>
