@model PCBuildWeb.Models.Entities.Parts.Memory

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Memory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voltage" class="control-label"></label>
                <input asp-for="Voltage" class="form-control" />
                <span asp-validation-for="Voltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerGB" class="control-label"></label>
                <input asp-for="PricePerGB" class="form-control" />
                <span asp-validation-for="PricePerGB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverclockedBaseVoltage" class="control-label"></label>
                <input asp-for="OverclockedBaseVoltage" class="form-control" />
                <span asp-validation-for="OverclockedBaseVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverclockedBaseFrequency" class="control-label"></label>
                <input asp-for="OverclockedBaseFrequency" class="form-control" />
                <span asp-validation-for="OverclockedBaseFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartType" class="control-label"></label>
                <select asp-for="PartType" class="form-control"></select>
                <span asp-validation-for="PartType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <select asp-for="ManufacturerId" class ="form-control" asp-items="ViewBag.ManufacturerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellPrice" class="control-label"></label>
                <input asp-for="SellPrice" class="form-control" />
                <span asp-validation-for="SellPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelUnlock" class="control-label"></label>
                <input asp-for="LevelUnlock" class="form-control" />
                <span asp-validation-for="LevelUnlock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelPercent" class="control-label"></label>
                <input asp-for="LevelPercent" class="form-control" />
                <span asp-validation-for="LevelPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lighting" class="control-label"></label>
                <input asp-for="Lighting" class="form-control" />
                <span asp-validation-for="Lighting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
