@model PCBuildWeb.Models.Building.Build

@{
    ViewData["Title"] = "Building Parameters";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuildResult">
            <fieldset>
                <legend>Building Parameters</legend>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentLevel" class="col-lg-2 control-label"></label>
                    <input asp-for="CurrentLevel" class="form-control" placeholder="Enter your current level" />
                    <span asp-validation-for="CurrentLevel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CurrentLevelPercent" class="col-lg-2 control-label"></label>
                    <input asp-for="CurrentLevelPercent" class="form-control" placeholder="Enter your current level progress in %" />
                    <span asp-validation-for="CurrentLevelPercent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Budget" class="col-lg-2 control-label"></label>
                    <input asp-for="Budget" class="form-control" placeholder="Enter build max budget" />
                    <span asp-validation-for="Budget" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Build PC</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}