@{
    ViewData["Title"] = "Build Failed";
}

<h2>@ViewData["Title"]</h2>
<p>No build was found with the given parameters.</p>
<p>Plese, review your build constraints and try again.</p>
<p></p>
<p><a href="@Url.Action("Build", "Builds")" class="btn btn-primary btn-lg">New Build</a></p>